body {
    font-family: Arial, sans-serif;
    padding-top: 70px;
    background-color: #f8f9fa;
    color: #5c4033;
}

.fact-item {
    background-color: #d2b48c;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.fact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product-item {
    background-color: #f4e1d1;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
}

.product-item:hover .product-overlay {
    opacity: 1;
}

.product-overlay a {
    background-color: #d2b48c;
    transition: background-color 0.3s;
}

.product-overlay a:hover {
    background-color: #b39c7a;
}

#contact {
    padding-left: 0; 
    padding-right: 0; 
}

#contact .container {
    max-width: 800px; 
    margin: auto; 
}

#contact h2 {
    color: #5a3e29; 
}

.form-control:focus {
    border-color: #d1b09a; 
    box-shadow: 0 0 0 0.2rem rgba(209, 176, 154, 0.25);
}

.btn:hover {
    background-color: #b39c7a;
    color: white; 
}
